.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.prettierignore
.prettierrc
.travis.yml
tsconfig.json

dist/cli.d.ts
src
test
.github
.vscode
.devcontainer

**/*.spec.*
coverage
.nyc_output
*.log
